extends ../layout

block content
  if message
    div(
      class="alert alert-warning alert-dismissible fade show"
      role="alert"
    )= message

  if errors
    ul.my-errors
      for error in errors
        li= error.msg

  div(class="container-fluid")
    div(class="row flex-x1-nowrap")
      div(class="col-12 col-md-12 col-xl-12")
        a(
          class="btn btn-primary"
          href="/overseers/new"
          style="float: right"
        ) Add Overseer

  if overseers.length
    div(class="row flex-x1-nowrap")
      div(class="col-12 col-md-12 col-xl-12")
        table.table.table-striped.table-hover
          thead.thead-light
            tr.d-flex
              th(class="col-3 col-md-4") Name
              th(class="col-5 col-md-4") Sub-tags
              th(class="col-2 col-md-2") Max Weight
              th(class="col-2 col-md-2")
          tbody
            each overseer in overseers
              tr.d-flex
                td(class="col-3 col-md-4")
                  a(href='overseers/' + overseer.name + '/edit')= overseer.name
                td(class="col-5 col-md-4")
                  each tag in overseer.tags
                    span.btn.btn-primary.btn-sm.subtag= tag
                td(class="col-2 col-md-2")
                  a(href='overseers/' + overseer.name + '/edit')= overseer.maxweight
                td(class="col-2 col-md-2")
                  form(
                    action=("/overseers/" + overseer.name + '/delete')
                    method="post"
                  )
                    a(
                      class="btn btn-outline-primary"
                      href='overseers/' + overseer.name + '/edit'
                    )
                      i(class="fas fa-pencil-alt")
                    button(
                      type="submit"
                      class="btn btn-outline-danger"
                    )
                      i(class="fas fa-trash-alt")
  else
    p No overseers yet :(